<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="../static/css/index.css" />
    <meta charset="UTF-8" />
    <title>Insertar arma</title>
  </head>
  <body>
    <center>
      <div class="contenedor">
        <h1>¿Falta algún arma?</h1>
        <form action="http://127.0.0.1:5000/insertar-arma" method="post">
          <input
            type="text"
            name="nombre"
            placeholder="Introduce el nombre del arma"
            required
          /><br />
          <input
            type="text"
            name="imagen"
            placeholder="Introduce la url de la imagen"
            required
            /><br />
            <input
              type="text"
              name="breve"
              placeholder="Introduce una breve descripción"
              required
            /><br />
            <input
              type="number"
              name="danio"
              placeholder="Daño del arma"
              max="571"
              required
            /><br />
          <input
            required
            type="text"
            name="descripcion"
            placeholder="Introduce la descripcion del arma"
          /><br />
          <select name="calidad" style="width: 10%;" required>
            <option selected>Calidad</option>
            <option value="S">S</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
          <button style="width: 10%;">Insertar</button>
        </form>
      </div>
    </center>
  </body>
</html>
